@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: "Roboto";
}

/*NavBar*/
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
}


.navbar {
    padding: 0% 10% 0%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    
}

/* title section */
#title{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;
}

.big-heading {
    padding: 9rem 0 0 0;
    font-size: 5rem;
    line-height: 1.5;
    text-align: center;
}

.sub-heading {
    font-size: 1.5rem;
    text-align: center;
}

.container-fluid {
    padding: 0% 10% 13%;
    
}


/*Blog Section*/
.blog-section {
    padding: 0% 10% 0%;
    background-color: rgb(240, 240, 240);
}

.blog-card {
    padding: 1% 1% 5% 1%;
    
}

/*Footer Section*/
#footer {
    text-align: center;
    padding: 7% 15%;
  }
  
  .social-logo {
    margin: 20px 10px;
  }